<!doctype html>
<html>
<head>
  <title>Verbose</title>
  <script>
    user = '<%= user.username %>';
    userFirstName = '<%= user.firstName %>';
    userLastName = '<%= user.lastName %>';
  </script>
  <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.11.1.min.js">
  </script>
  <script src="/socket.io/socket.io.js"></script>
  <!-- configure MathJax -->
  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      extensions: ["tex2jax.js", "TeX/noUndefined.js"],
      jax: ["input/TeX", "output/HTML-CSS"],
      tex2jax: {
        inlineMath: [ ['$','$'] ],
        displayMath: [ ['$$','$$'] ],
        processEscapes: true,
      },
      showProcessingMessages: false,
      messageStyle: "none",
      "HTML-CSS": {
        availableFonts: ["TeX"],
        scale: 90
      }
    });
  </script>
  <!-- load MathJax -->
  <script src="/lib/mathjax/MathJax.js"></script>


  <!-- load Prism -->
  <script src="/lib/prism/prism.js"></script>
  <link rel="stylesheet" type="text/css" href="/lib/prism/prism.css">


  <!-- load Autolinker -->
  <script src="/lib/autolinker/Autolinker.js"></script>


  <!-- load Bootstrap for Tags Input -->
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

  <!-- load Typeahead for Tags Input -->
  <script src="/lib/typeahead/typeahead.js"></script>

  <!-- load Hogan for Tags Input -->
  <script src="/lib/hogan/hogan-2.0.0.js"></script>


  <!-- load Tags Input -->
  <script src="/lib/bootstrap-tagsinput/bootstrap-tagsinput.js"></script>
  <link rel="stylesheet" type="text/css" href="/lib/bootstrap-tagsinput/bootstrap-tagsinput.css">


  <script src="/js/chat.js"></script>
  <script src="/js/style.js"></script>
  <link rel="stylesheet" type="text/css" href="/css/stylesheet.css">
</head>
<body>
  <div class="navbar"><p id="title"><code>Verbose<span class="sushi">.im</span></code></p>
    <p id="userName"><%= user.firstName %> <%= user.lastName %></p>
    <a href="/settings"><img id="setIcon" src="/img/settings.png" alt="Account Settings"/></a>
    <a href="/logout"><img id="logoutIcon" src="/img/logout.png" alt="LogOut"></a>
  </div>
  <div class="container">
    <div class="chats">
    </div>
    <div class="minimized">
      <div class="minimizedWindowList">
        <!--
        <ul class="minimizedWindowList">
        </ul>
        -->
      </div>
      <div class="minimizedToggle clickable">
      </div>
    </div>
    <div class="sidebar">
      <div class="search">
        <img id="searchIcon" src="/img/search.png" alt="Search">
        <input id="searchBar" type='text' name='search' placeholder='Find Friends' />
        <span id="searchResult"></span>
      </div>
      <div class="friendList">
        <ul class="friendListUl">
        </ul>
      </div>
  </div>
</body>
</html>
